{
    "plugins": [ 
        [ 
            "transform-remove-console", 
            { "exclude": [ "error", "warn"] } // it will just remove only console.log() not errors and warnings
        ]
    ]
}
